html, body{
    padding: 0;
    margin: 0;
    background: white;
    color: #424242;
    font-family: 'Montserrat', sans-serif;
}

header{
    justify-content: center;
    align-items: center;
    background: #f8f8f8;
}

header .container1{
    width: 1170px;
    font-size: 16px;
}
.container1{
    width: 1170px;
    margin: 0 auto;
    position: relative;
}

.header .container1.top_menu{
    width: calc(80% - 120px);
}
.top_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.container1.top_menu ul{
    flex-direction: column;
}

.container1 ul{
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
    max-height: 80px;
}

.container1 .top_menu ul li{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.container1 li{
    position: relative;
    margin: 0;
    padding: 0;
    line-height: 80px;
    transition: .3s all;
}

.header.top_menu ul li a {
    font-size: inherit;
    line-height: normal;
    text-overflow: ellipsis;
}

.header ul li a{
    font-size: inherit;
}

.container1 ul a{
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    justify-content: center;
    display: -webkit-flex;
    color: inherit;
    margin: 0px;
    padding: 0 20px;
    text-decoration: none;
    transform-origin: center;
    transition: .3s all;
    position: relative;
    line-height: unset!important;
}
header .top_menu .right-main ul{
    justify-content: flex-start;
}
.container1 a:hover{
    background:#dfdfdf;
}
.top_img{
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-bottom: 80px;
    overflow: hidden;
}
.container2{
    padding-top: 80px;
    padding-bottom: 60px;
    margin: 0 auto;
    text-align: center;

}
.container2 .title{
    margin-bottom: 10px;
}

.container2 .sub_title{
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.container3 {
    max-width: 1170px;
    margin: 0 auto;
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: -webkit-box;
    padding: 20px 0;
}

.products .product-item {
    width: 32.2%;
    margin-bottom: 30px;
    text-align: center;
    height: 100%;
    transition: .3s all;
}

.products .product-item img {
    width: 200px;
    height: 280px;
}

.products .product-item .pr-title {
    font-weight: 400;
    margin-top: 10px;
}

.products .product-item .txt{
    line-height: 150%;
}

.products .product-item .price {
    font-size: 24px;
    margin-top: 5px;
}

.products .product-item .btn-group {
    text-align: center;
    margin: 20px auto 0;
    width: 200px;
    background-color: rgb(221, 114, 113);
    border-radius: 2em;
    border-color: transparent;
}

.container3 a{
    text-decoration: none;
    line-height: 36px;
    color: rgb(255, 255, 255);
}

.container3 .product-item:hover{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    background-color: #dfdfdf;
}

.container4{
    padding-top: 60px;
    padding-bottom: 80px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.container4 .sub_title{
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.container4 .btn-group{
    margin: 0 auto;
    width: 450px;
    height: 60px;
    background-color: rgb(221, 114, 113);
    border-radius: 2em;
    border-color: transparent;
    text-align: center;
    font-size: 18px;
}

.container4 a{
    text-decoration: none;
    line-height: 54px;
    color: rgb(255, 255, 255);
}

.container5{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1170px;
    margin: 0 auto;
}

.container5 .product-item img{
    height: 150px;
    width: 190px;
}

footer{
    padding: 40px 0;
    background: #f8f8f8;
}

.nav-title{
    font-weight: 400;
    font-size: 15px;
}

footer ul{
    list-style: none;
    padding-left: 0;
}

footer li{
    line-height: 2em;
}

footer a{
    text-decoration: none;
    font-size: 15px;
    color: #424242;
}

.footer-nav {
    display: flex;
    flex-flow: row wrap;
}

.footer-nav .footer-logo {
    width: 30%;
    margin-left: 50px;
}

.footer-nav .nav-item{
    width: 20%;
    font-size: inherit;
    line-height: normal;
}

.pr-container2{
    margin: 0 auto;
    width: 1170px;
}

.pr-container2 a{
    text-decoration: none;
    line-height: 36px;
    color: rgb(255, 255, 255);
}

.pr-container2 .product-item:hover{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    background-color: #dfdfdf;
}

.pr-container2 .brand-title{
    text-align: center;
}

.pr-products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: -webkit-box;
    padding: 20px 0;
}

.pr-products .product-item {
    width: 25%;
    margin-bottom: 30px;
    text-align: center;
    height: 100%;
    transition: .3s all;
}

.pr-products .product-item img {
    width: 200px;
    height: 280px;
}

.pr-products .product-item .pr-title {
    font-weight: 400;
    margin-top: 10px;
}

.pr-products .product-item .txt{
    line-height: 150%;
}

.pr-products .product-item .price {
    font-size: 24px;
    margin-top: 5px;
}

.pr-products .product-item .btn-group {
    text-align: center;
    margin: 20px auto 0;
    width: 200px;
    background-color: rgb(221, 114, 113);
    border-radius: 2em;
    border-color: transparent;
}
